---
import { Image } from 'astro:assets';

interface Props {
  imageSrc: ImageMetadata;
  title: string;
  url?: string;
}

const { imageSrc, title, url } = Astro.props;
---

<div class="relative overflow-clip rounded-2xl shadow-lg">
  <Image src={imageSrc} alt={title} class="relative block w-full h-auto aspect-4/3 object-cover"/>
</div>
